.widget{
	width: 80%;
	align: center;
}
#navbar{
	background-color: blue;
	background-color: #005EFF;
	position: fixed;
	width: 100%;
	top:0;
	left:0;
	height: 40px
}
#navtxt{
	font-size: 35px;
	margin-top: 3px;
	left: 45px;
}

body{
	margin-top: 50px;
}
#hamburger{
	top: 0;
	left: 0;
	height: 40px;
	width: 40px;
}
